img{
    width: 10%;
}

.dropdown-menu {
    display: none;
}

.dropdown:hover .dropdown-menu{
    display:block;
}

.nav {
    display: flex;
}

.btn-danger{
    display: flex;
    justify-content: flex-end;
}