<table class="table user-list">
    <thead>
        <tr>
            <th><span>IdProduct</span></th>
            <th><span>Code</span></th>
            <th><span>Libelle</span></th>
            <th><span>Prix unitaire</span></th>
            <th><span>Taux Tva</span></th>
        </tr>
    </thead>
    <tbody>
        
            <tr *ngFor = "let p of ListProduct; let i = index;" #pr>
                <td>
                    {{ p.id }}
                </td>
                <td>
                    {{ p.code }}
                </td>
                <td>
                    {{ p.libelle }}
                </td>

                <td>
                    {{ p.prixunitaire }}
                </td>
                <td>
                    {{ p.tauxTva }}
                </td>
                <!-- <td>
                    <button class="btn btn-warning" (click)="updateProduct(p, p.id)" data-bs-toggle="modal"
                    data-bs-target="#editProduct">Modifier</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteProductt(p)" data-bs-toggle="modal" 
                    data-bs-target="#supprimer">Supprimer</button>
                    
                </td> -->

                <td>
                  <!-- updateClient -->
                  <button type="button" data-bs-toggle="modal" (click)="updateProduct(p, p.id)"
                  data-bs-target="#editProduct" class="btn btn-primary mx-3"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                  </svg></button>
                    <!-- deleteClient -->
                  <button class="btn btn-danger" (click)="deleteProductt(p)"
                    data-bs-toggle="modal"
                    data-bs-target="#supprimer"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                      <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg></button>
                </td>
                
            </tr>
    </tbody>
</table>

<div class="container d-flex justify-content-arround">
  <label for="libelle" class="mx-2">Count by libelle:</label>
  <input type="text" class="form-control w-25 my-2" placeholder="Libelle"#s>
  <button (click)="countByLibelle(s.value, ListProduct)" class="btn btn-info mx-3 l-3">Count</button>
  <input type="text" class="form-control w-25 my-2" value="{{count}}" readonly>
</div>


<button (click)="show()" class="btn btn-success mt-3" data-bs-toggle="modal"
data-bs-target="#addProduct">Add product</button>


<!-- <app-form-products *ngIf=isShowing (added)="addProductt($event)"></app-form-products> -->



<!--modal Modifier-->
<div class="modal fade" id="editProduct" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="id"></button>
			</div>
			<div class="modal-body">
				<form [formGroup]="formProduct">
					<div class="mb-3">
						<label for="id" class="form-label">ID</label>
						<input type="text" class="form-control" id="id" formControlName="id" readonly>
						
					  </div>

					<div class="mb-3">
					  <label for="code" class="form-label">Code</label>
					  <input type="text" class="form-control" id="code" formControlName="code">
					  
					</div>
					<div class="mb-3">
						<label for="libelle" class="form-label">Libelle</label>
						<input type="text" class="form-control" id="libelle" formControlName="libelle">
						
					  </div>
					  <div class="mb-3">
						<label for="prix" class="form-label">Prix unitaire</label>
						<input type="text" class="form-control" id="prix" formControlName="prixunitaire">
					  </div>
					  <div class="mb-3">
						<label for="taux" class="form-label">Taux TVA</label>
						<input type="text" class="form-control" id="taux" formControlName="tauxTva">
		
					  </div>
		
				  </form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-primary" (click)="update()">Modifier</button>
			</div>
		</div>
	</div>
</div>


  
  <!-- Modal Supprimer -->
  <div class="modal fade" id="supprimer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Supprimer Produit</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Êtes-vous sûr de vouloir supprimer cet produit?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="oui()">Oui</button>
        </div>
      </div>
    </div>
  </div>



  <!--modal ajouter-->
<div class="modal fade" id="addProduct" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ajouter Produit</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="id"></button>
			</div>
			<div class="modal-body">
				<form [formGroup]="formProduct">

					<div class="mb-3">
					  <label for="code1" class="form-label">Code</label>
					  <input type="text" class="form-control" id="code1" formControlName="code">
					  
					</div>
					<div class="mb-3">
						<label for="libelle1" class="form-label">Libelle</label>
						<input type="text" class="form-control" id="libelle1" formControlName="libelle">
						
					  </div>
					  <div class="mb-3">
						<label for="prix1" class="form-label">Prix unitaire</label>
						<input type="text" class="form-control" id="prix1" formControlName="prixunitaire">
					  </div>
					  <div class="mb-3">
						<label for="taux1" class="form-label">Taux TVA</label>
						<input type="text" class="form-control" id="taux1" formControlName="tauxTva">
		
					  </div>
		
				  </form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-primary" (click)="addProductt()">Ajouter</button>
			</div>
		</div>
	</div>
</div>
