{{p}}
<!-- <button (click)="navigate()">Show</button> -->

<button (click)="navigate()" class="btn btn-outline-dark" routerLink="/facture">

    <i style="font-size: 25px;" class="fas fa-cart-plus"></i>
    <div style="font-size: 10px;" class="badge bg-danger">{{count1}}</div>
</button>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let p of productList">

            <div class="wrapper">
                <div class="container2">

                    <!-- images start -->
                    <div class="top"></div>
                    <!-- images end -->

                    <div class="bottom">
                        <div class="left">
                            <div class="details">
                                <h1>{{p.libelle}}</h1>
                                <p>${{p.prixUnitaire}}</p>
                            </div>
                            <div class="buy"><i class="material-icons" (click)="add(p)">add_shopping_cart</i></div>

                        </div>
                    </div>
                </div>


                <div class="inside">
                    <div class="icon"><i class="material-icons">info_outline</i></div>
                    <div class="contents">
                        <table>
                            <tr>
                                <th>Code :</th>
                                <th>Height</th>
                            </tr>
                            <tr>
                                <td>{{p.code}}</td>
                                <td>4000mm</td>
                            </tr>
                            <tr>
                                <th>Something</th>
                                <th>Something</th>
                            </tr>
                            <tr>
                                <td>200mm</td>
                                <td>200mm</td>
                            </tr>
                            <tr>
                                <th>Something</th>
                                <th>Something</th>
                            </tr>
                            <tr>
                                <td>200mm</td>
                                <td>200mm</td>
                            </tr>
                            <tr>
                                <th>Something</th>
                                <th>Something</th>
                            </tr>
                            <tr>
                                <td>200mm</td>
                                <td>200mm</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>